body {
    background-color: #121212;
    color: white;
    font-family: Arial;
    padding: 20px;
}

#error{
	color: rgb(255;0;0);
}

input {
    padding: 8px;
    background-color: #1e1e1e;
    border: 1px solid #444;
    color: white;
}

button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
